# pandas에서 'axis' parameter는 어떻게 사용되는가?

pandas를 사용하다보면 자주 볼 수 있는 axis에 대한 이야기 입니다.

pandas.drop()과 pandas.mean()을 이용하여 axis=0의 역할을 알아봅시다.

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### 'continent' column을 drop명령어를 이용하여 삭제합니다
|continent|
|--|
|Asia|
|Europe|
|Africa|
|...|

In [4]:
drinks.drop('continent',axis=1).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

- 이 때 inplace parameter를 사용하지 않았으므로 continent col은 임시로 삭제된 상태입니다
- 아래 코드에서 contient col이 아직 남아있는 것을 확인할 수 있습니다.

In [5]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

### 이번엔 index 2 행을 삭제해 봅시다
| |country|beer_serving|sprit_servings|...|
|---|---|---|---|--|
|2|Algeria|25|0|...|

In [7]:
drinks.drop(2, axis=0).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa
5,Antigua & Barbuda,102,128,45,4.9,North America

위의 코드를 통해 axis에 대한 정의를 아래와 같이 정의할 수 있습니다
- drop('continent', axis=1) : columns 방향에 있는 'countinent'를 버려라 
- drop(2, axis=0) : row 방향에 있는 index 2 를 버려라

### 즉 정리하면 
- axis=0 은 row, index, 세로, 아래 방향
- axis=1 은 columns, 가로, 오른쪽 방향

을 의미하는 것을 알 수 있습니다

### 아래는 mean()과 함께 axis를 사용한 예 입니다.

In [10]:
drinks.mean(axis=0)

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [11]:
drinks.mean(axis=1).head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64

### 숫자 0,1 대신 'index'와 'columns'를 사용하여 방향을 결정할 수 있습니다
- 이전 코드와 동일한 결과를 가져오는 것을 알 수 있습니다.

In [12]:
drinks.mean(axis='index')

beer_servings                   106.160622
spirit_servings                  80.994819
wine_servings                    49.450777
total_litres_of_pure_alcohol      4.717098
dtype: float64

In [15]:
drinks.mean(axis='columns').head()

0      0.000
1     69.975
2      9.925
3    176.850
4     81.225
dtype: float64